* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #fff7e4;
    color: #1b1b1b;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 2px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
    border: 2px solid rgb(70, 70, 70);
    /* border-radius: 2px; */
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value {
    visibility: show;
}